input {
  margin: 5px;
}

.bars>div {
  height: 2em;
  transition: width 0.5s ease-in-out;
}

.card-footer {
  border: 1px solid #dbdbdb;
}

.category-chart {
  margin-bottom: 1em;

  .cost-label {
    min-width: 100px;
  }

  &>.subtitle {
    margin-bottom: 0.1em !important;
  }

  .bars {
    margin-bottom: 0.5em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .bar {
    margin-bottom: 0 !important;
    margin-right: 5px !important;
    border: 1px solid #333;
  }
}

nav {
  position: absolute;
  top: 10px;
  right: 10px;
}


.is-flex {
  align-items: center;
}

.has-margin {
  margin: 5px;
}

@media only screen and (max-width: 768px) {
  #expense-form  {
    position: absolute;
    left: -100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s ;
    height: 100vh;
    z-index: 900;
  }

  #expense-form.visible {
    opacity: 1;
    left: 0;
  }

  .main-nav {
    position: fixed;
    top: auto;
    padding: 1em;
    bottom: 0px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background: white;
    border-top: 1px solid #00d1b2;
  }
}

.button-bar button {
  flex-grow: 1;
  margin: 1em;
}

.error {
  color: red !important;
}

.success {
  color: green !important;
}
