<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <script src="https://use.fontawesome.com/58a3ec5716.js"></script>
      <div id="app">Loading App...</div>
  </body>
</html>
